<% provide :title, t(".title")%>
<h1><%= t ".title" %></h1>
<p>
  the <%= link_to "ruby on ralis tutorial", "http://www.railstutorial.com" %> <%= t(".is about") %>
  <%= link_to t(".book and") ,"http://www.railstutorial.org/book" %> 
  <%= link_to "screencast series" ,"http://www.screencasts.railstutorial.org" %>
  <%= t(".content") %>
</p>
