<% provide :title, t(".help") %>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".content" %>
  <%= link_to "rails tutorial help page", "http://www.railstutorial.org/help" %>.
  <%= t ".content1" %>
  <%= link_to "ruby on rails tutorial", "http://www.railstutorial.org/book" %>
  <%= t ".book" %></a>.
</p>
